{% extends "./base.html" %}
{% block title %}Hệ thống đánh gía và tư vấn kết quả học tập{% endblock %}
{% block content %}
<style>
</style>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item"><a href="#">Quản trị</a></li>
            <li class="breadcrumb-item active" aria-current="page">Môn học</li>
        </ol>
    
        <div class=" card">
            <div class="card-header">
                <h5>Môn học</h5>
            </div>
            <div class="card-body ">
                <div class="card-title row">
                <div class="col-sm-6">
                    <button type="button" class="btn activebutton">Nhập file</button>
                    <button type="button" class="btn btn-primary">Xuất file</button>
                    <button type="button" class="btn btn-primary">Tạo bản ghi</button>
                </div>
                
                <div class=" form-inline col-sm-6">
                    <input class="form-control col-sm-9 inline" id="myInput" type="text" placeholder="Tìm kiếm...">
                    <div class="col-sm-1"></div>
                    <input class="btn activebutton col-sm-2 inline " type="button" value="Tìm kiếm">
                </div>
                </div>
                <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã môn học</th>
                        <th scope="col">Tên môn học</th>
                        <th scope="col">Số tín chỉ</th>
                        <th scope="col">Môn tiên quyết</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <th scope="row">INT22014 1</th>
                        <td>Lập trình</td>
                        <td>4</td>
                        <td>Giải tích</td>
                        <td>sửa xóa</td>
                    </tr>
                    
                </tbody>
            </table>
            </div>
            
            
        </div>
    </div> 
{% endblock %}