{% extends "./base.html" %}
{% block title %}Hệ thống đánh gía và tư vấn kết quả học tập{% endblock %}
{% block content %}
<style>

</style>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Sinh viên</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
        </ol>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <a href="{% url 'profile' %}"  class="">
                            <li id="profile" class="list-group-item  ">Thông tin cá nhân</li>
                        </a>
                        <a href="{% url 'transcript' %}" >
                            <li id="transcript" class="list-group-item ">Bảng điểm</li>
                        </a>
                        <a href="{% url 'changepassword' %}">
                            <li id="changepassword" class="list-group-item ">Đổi mật khẩu</li>
                        </a>
                    </ul>
                </div>
            </div>
            <script>
                function activaCurrentUrlElement(){                   
                    document.getElementById(pathname_url_active).classList.add("activebutton");
                }
                activaCurrentUrlElement();
            </script>
            <div class="col-sm-9">
                {% block content-profile %}(no content){% endblock %}
            </div>
        </div>
    </div>    
{% endblock %}
