{% extends "./base.html" %}
{% block title %}Hệ thống đánh gía và tư vấn kết quả học tập{% endblock %}
{% block content %}
<style>
</style>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Sinh viên</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thống kê</li>
        </ol>
        <div class=" card">
            <div class="card-header">
                <h5>Thống kê</h5>
            </div>
            <div class="card-body ">
                <div class="card-title row ">
                </div>
                <div class="form-group row">
                    <label for="major" class="col-sm-2 col-form-label">Khoa:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="major" placeholder="Khoa">
                    </div>
                    <label for="year" class="col-sm-2 col-form-label">Năm học:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="year" placeholder="Năm học">
                    </div>
                    <label for="course" class="col-sm-2 col-form-label">Khóa:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="course" placeholder="Khóa">
                    </div>
                </div>
            </div>
            
            
        </div>
    </div> 
{% endblock %}