{% extends "./base.html" %}
{% load bootstrap4 %}
{% block title %}Hệ thống đánh gía và tư vấn kết quả học tập{% endblock %}
{% block content %}
<style>
</style>
    <!-- breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Sinh viên</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gợi ý môn học</li>
        </ol>
    
        <div class=" card">
            <div class="card-header">
                <h5>Môn học đề xuất</h5>
            </div>
            <div class="card-body ">
                <div class="card-title row float-right">
                
                    <select class="custom-select custom-select-sm col-sm-1">
                        <option selected>1</option>
                        <option value="1">2</option>
                        <option value="2">5</option>
                        <option value="3">10</option>
                    </select>
                </div>
                <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    
                </tbody>
            </table>
            </div>
            
            
        </div>

        <div class=" card mt-2">
            <div class="card-header">
                <h5>Môn học đề xuất theo học lực giỏi </h5>
            </div>
            <div class="card-body ">
                <div class="card-title row float-right">
                
                    <select class="custom-select custom-select-sm col-sm-1">
                        <option selected>1</option>
                        <option value="1">2</option>
                        <option value="2">5</option>
                        <option value="3">10</option>
                    </select>
                </div>
                <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    
                </tbody>
            </table>
            </div>
            
            
        </div>
    </div> 
{% endblock %}